{% extends "base.html" %}
{% load host_extras %}
{% load i18n %}

{% block title %}HeloMX | Update My Profile{% endblock %}
{% block to_head %}
    <style type="text/css">
        #message { margin: 0px; width: 275px; height: 30px; text-align: center; vertical-align: 50%; padding-top: 10px; position: relative; }
    </style>

{% endblock %}

{% block to_footer %}
    {% include "ssi/highlightjs.html" %}
    <script type="text/javascript">
        $(document).ready(function(){
          $("#message").effect("highlight", {}, 2000);
          $(".rounded").corner("round 5px");
          $(".yui-gc").corner();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="yui-gc">
        <div class="yui-u first">
            <div class="intro-space">
                 <h4>Message of The Day</h4>
                 {% autoescape off %}
                    {% get_motd 5 %}
                 {% endautoescape %}
            </div>
        </div>
        <div class="yui-u">
            <div class="intro-space">
                <h4>Change Your Password</h4>
                <div id="message"><p>{% trans 'Your password was changed successfully.' %}</p></div>
            </div>
        </div>
    </div>
{% endblock %}

