{% extends "base-internal.html" %}
{% load host_extras %}
{% load i18n %}

{% block title %}HeloMX | Update My Profile{% endblock %}
{% block to_head %}
    <style type="text/css">
        #message { margin: 0px; width: 720px; height: 30px; text-align: center; vertical-align: 50%; padding-top: 10px; font-weight: bold; position: relative; }
    </style>
{% endblock %}

{% block to_footer %}
    {% include "ssi/highlightjs.html" %}
{% endblock %}

{% block content %}
    <div id="yui-main">
        <div class="yui-b">
            <div class="yui-g">
                <div id="message">{% trans 'Password Changed Successful' %}</div>
                <div class="title">Change Your Password</div>
                    <div class="yui-u first">
                        <p>{% trans 'Your password was changed.' %}</p>

                    </div>
                    <div class="yui-u">
                        {% get_faq 20 %}
                    </div>
            </div>
        </div>
    </div>

    <div class="yui-b">
        <div id="left-menu">
            {% get_side_list user perms %}
        </div>
    </div>
{% endblock %}

