{% extends "base-internal.html" %}
{% load host_extras %}
{% load i18n %}

{% block title %}HeloMX | Update My Profile{% endblock %}
{% block to_head %}
    <style type="text/css">
        #message { margin: 0px; width: 720px; height: 30px; text-align: center; vertical-align: 50%; padding-top: 10px; font-weight: bold; position: relative; }
    </style>
{% endblock %}

{% block to_footer %}
    {% include "ssi/highlightjs.html" %}
{% endblock %}

{% block content %}
    <div id="yui-main">
        <div class="yui-b">
            <div class="yui-g">
                {% if message %}
                    <div id="message">{{ message }}</div>
                {% endif %}
                
                    <div class="yui-u first">
                        <div class="title">Password Information</div>
                        <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
                    </div>
                    <div class="yui-u">
                        <div class="title">Password Form</div>
                        <form action="" method="post">
                            <ul class="modelform">
                                {{ form.as_ul }}
                            </ul>
                            <input type="submit" class="button" name="submit_action" value="Change my password" />

                        </form>
                    </div>
            </div>
        </div>
    </div>

    <div class="yui-b">
        <div id="left-menu">
            {% get_side_list user perms %}
        </div>
    </div>
{% endblock %}

