{% extends "base.html" %}
{% load host_extras %}
{% load i18n %}

{% block to_footer %}
    <script type="text/javascript">
     $(document).ready(function($){
       $(".rounded").corner("round 5px");
       $(".yui-gc").corner();
     });
    </script>
{% endblock %}

{% block title %}HeloMX | Professional Mail Server Monitoring{% endblock %}
{% block content %}
    <div class="yui-gc">
        <div class="yui-u first">
            <div class="intro-space">
                 <h4>Message of The Day</h4>
                 {% autoescape off %}
                    {% get_motd 5 %}
                 {% endautoescape %}
            </div>
        </div>
        <div class="yui-u">
            <div class="intro-space">
                <h4>Password Reset Request</h4>
                {% if validlink %}

                <h1>{% trans 'Enter new password' %}</h1>

                <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                <form action="" method="post">
                    <ul class="modelform">
                        {{ form.as_ul }}
                    </ul>
                <input type="submit" class="button" value="{% trans 'Change my password' %}" />
                </form>

                {% else %}

                <h1>{% trans 'Password reset unsuccessful' %}</h1>

                <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

