{% extends "base.html" %}
{% load host_extras %}
{% load i18n %}

{% block to_footer %}
    <script type="text/javascript">
     $(document).ready(function($){
       $(".rounded").corner("round 5px");
       $(".yui-gc").corner();
     });
    </script>
{% endblock %}

{% block title %}HeloMX | Professional Mail Server Monitoring{% endblock %}
{% block content %}
    <div class="yui-gc">
        <div class="yui-u first">
            <div class="intro-space">
                 <h4>Message of The Day</h4>
                 {% autoescape off %}
                    {% get_motd 5 %}
                 {% endautoescape %}
            </div>
        </div>
        <div class="yui-u">
            <div class="intro-space">
                <h4>{% trans 'Password reset successful' %}</h4>

                <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>

            </div>
        </div>
    </div>
{% endblock %}

