{% extends "base.html" %}

{% block to_head %}
    <style type="text/css">
        #message { margin: 0px; width: 100%; height: 30px; text-align: center; vertical-align: 50%; padding-top: 10px; font-weight: bold; position: relative; }
    </style>
{% endblock %}

{% block to_footer %}
    {% include "ssi/highlightjs.html" %}
    <script type="text/javascript">
     $(document).ready(function($){
       $(".rounded").corner("round 5px");
       $(".yui-gb").corner();
     });
    </script>
{% endblock %}

{% block title %}HeloMX | Professional Mail Server Monitoring{% endblock %}

{% block content %}
    <div class="yui-gb">
        <div class="yui-u first">
            <div class="intro-space">
                <h4>Contact HeloMX</h4>
                {% if message %}
                    <div id="message">{{ message }}</div>
                {% endif %}
                <form id="contact" action="" method="post">
                    <ul class="modelform">{{ contact_form }}</ul>

                    <div class="button"><input type="submit" name="submit" id="submit_btn" value="Submit" /></div>

                </form>
            </div>
        </div>
        <div class="yui-u">
            <div class="intro-space">
                 <h4>Contact Q + A</h4>
                 <i><b>When will you get back to me?</b></i>
                 <p>You should expect an automated response within 30 seconds,
                     and a personal response within 24 hours.</p>
                 <br />
                 <i><b>Can I ask technical questions?</b></i>
                 <p>As long as you aren't asking for our secret sauce, we'll try and be
                 as helpful as possible.</p>
                 <br />
                 <i><b>I don't really like forms...</b></i>
                 <p>We understand, us either.</p>
                 <p>You can email sales questions to:</p><br />
                 <p>sales@helomx.com</p><br />
                 <p>Or support questions to:</p><br />
                 <p>support@helomx.com</p>
                 <br />
            </div>
        </div>
        <div class="yui-u first">
            <div class="intro-space">
                <h4>Are you hiring?</h4>
                <p>Not at the moment.  If something can be automated, we automate it.
                    However, if you have a passion about email services, network
                    monitoring, and have experience running a globally distributed
                set of servers, feel free to email us at: hr@helomx.com</p>


            </div>
        </div>
    </div>


{% endblock %}

