{% extends "base-internal.html" %}
{% load host_extras %}

{% block title %}HeloMX | Add New Engineer{% endblock %}
{% block to_head %}
    <style type="text/css">
        #message { margin: 0px; width: 720px; height: 30px; text-align: center; vertical-align: 50%; padding-top: 10px; font-weight: bold; position: relative; }
    </style>
 {% endblock %}

 {% block to_footer %}
    {% include "ssi/highlightjs.html" %}
{% endblock %}

{% block content %}

    <div id="yui-main">
        <div class="yui-b">
            <div class="yui-g">
                <div class="title">Add New Engineer</div>
                {% if message %}
                    <div id="message">{{ message }}</div>
                {% endif %}
            </div>
            <div class="yui-g">
                <form action="/add/engineer/" method="post" name="addform">
                <div class="yui-u first">
                    <ul class="modelform">
                            {% if engineer_form.user.errors %}
                                {{ engineer_form.user.errors }}
                            {% endif %}

                            <li><label for="id_user">Desired Username:</label>{{ engineer_form.user }}</li>

                            {% if engineer_form.first_name.errors %}
                                {{ engineer_form.first_name.errors }}
                            {% endif %}

                            <li><label for="id_first_name">First Name:</label>{{ engineer_form.first_name }}</li>

                            {% if engineer_form.last_name.errors %}
                                {{ engineer_form.last_name.errors }}
                            {% endif %}

                            <li><label for="id_last_name">Last Name:</label>{{ engineer_form.last_name }}</li>

                            {% if engineer_form.password1.errors %}
                                {{ engineer_form.password1.errors }}
                            {% endif %}

                            <li><label for="id_password1">Password:</label>{{ engineer_form.password1 }}</li>

                            {% if engineer_form.password2.errors %}
                                {{ engineer_form.password2.errors }}
                            {% endif %}

                            <li><label for="id_password2">Password (verify):</label>{{ engineer_form.password2 }}</li>

                    </ul>





                </div>
                <div class="yui-u">
                    <ul class="modelform">
                            {% if engineer_form.timezone.errors %}
                                {{ engineer_form.timezone.errors }}
                            {% endif %}

                            <li><label for="id_timezone" class="block">Timezone:</label>{{ engineer_form.timezone }}</li>
                    

                            {% if engineer_form.email.errors %}
                                {{ engineer_form.email.errors }}
                            {% endif %}

                            <li><label for="id_email" class="block">Email:</label>{{ engineer_form.email }}</li>

                            {% if engineer_form.mobile.errors %}
                                {{ engineer_form.mobile.errors }}
                            {% endif %}

                            <li><label for="id_mobile">Mobile:</label>{{ engineer_form.mobile }}</li>

                            {% if engineer_form.can_edit_mx.errors %}
                                {{ engineer_form.can_edit_mx.errors }}
                            {% endif %}

                            <li><label for="id_can_edit_mx">{{ engineer_form.can_edit_mx }} Can Edit Mailservers</label></li>

                            {% if engineer_form.can_edit_company.errors %}
                                {{ engineer_form.can_edit_company.errors }}
                            {% endif %}

                            <li><label for="id_can_edit_company">{{ engineer_form.can_edit_company }} Can Edit Company</label></li>

                            {% if engineer_form.can_edit_billing.errors %}
                                {{ engineer_form.can_edit_billing.errors }}
                            {% endif %}

                            <li><label for="id_can_edit_billing">{{ engineer_form.can_edit_billing }} Can Edit Billing</label></li>
                    </ul>
                    <p><input type="submit" name="submit_action" value="Add Engineer" /></p>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="yui-b">
        <div id="left-menu">
            {% get_side_list user perms %}
        </div>
    </div>

{% endblock %}

