{% extends "base-internal.html" %} {% load host_extras %}

{% block title %}HeloMX | Edit Engineer Profile{% endblock %}
{% block to_head %}
    <style type="text/css">
        #message { margin: 0px; width: 720px; height: 30px; text-align: center; vertical-align: 50%; padding-top: 10px; font-weight: bold; position: relative; }
    </style>
{% endblock %}

{% block to_footer %}
    {% include "ssi/highlightjs.html" %}
{% endblock %}

{% block content %}
    <div id="yui-main">
        <div class="yui-b"><div class="yui-g">
        {% if message %}
            <div id="message">{{ message }}</div>
        {% endif %}
        <div class="title">Update Profile</div>
        <form action="/update/engineer/{{ slug }}/" method="post" name="addblogform">
            <ul class="modelform">{{ user_form }}</ul>
            <ul class="modelform">{{ engineer_form }}</ul>
            <ul class="modelform">{{ perm_form }}</ul>
        <input type="image" src="http://media.blogmozaic.com/images/addit.png" name="submit_action" value="Submit" />
        </form>
        </div></div>
    </div>

    <div class="yui-b">
        <div id="left-menu">
            {% get_side_list user perms %}
        </div>
    </div>
{% endblock %}

