{% extends "base-internal.html" %} {% load host_extras %}

{% block title %}HeloMX | Add Mailserver{% endblock %}
{% block to_head %}
    <style type="text/css">
        #message { margin: 0px; width: 720px; height: 30px; text-align: center; vertical-align: 50%; padding-top: 10px; font-weight: bold; position: relative; }
    </style>

{% endblock %}

{% block to_footer %}
    {% include "ssi/highlightjs.html" %}
{% endblock %}

{% block content %}

    <div id="yui-main">
        <div class="yui-b">
            <div class="yui-g">
                <div class="title">Mailserver Details</div>
                {% if message %}
                    <div id="message">{{ message }}</div>
                {% endif %}
            </div>
            <div class="yui-g">
                <form action="/add/mailserver/" method="post" name="addform">
                <div class="yui-u first">
                    <ul class="modelform">

                            {% if mailserver_form.name.errors %}
                                {{ mailserver_form.name.errors }}
                            {% endif %}

                            <li><label for="id_name" class="block">Your Client's Name:</label>{{ mailserver_form.name }}</li>

                            {% if mailserver_form.mx_url.errors %}
                                {{ mailserver_form.mx_url.errors }}
                            {% endif %}

                            <li><label for="id_mx_url" class="block">Primary Domain:</label>{{ mailserver_form.mx_url }}</li>

                            {% if mailserver_form.ipaddr.errors %}
                                {{ mailserver_form.ipaddr.errors }}
                            {% endif %}

                            <li><label for="id_ipaddr" class="block">IP Address:</label>{{ mailserver_form.ipaddr }}</li>

                    </ul>
                    <p><input type="submit" name="submit_action" value="Add Mailserver" /></p>
                </div>
                <div class="yui-u">

                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="yui-b">
        <div id="left-menu">
            {% get_side_list user perms %}
        </div>
    </div>


{% endblock %}

