{% extends "base-internal.html" %} {% load host_extras %}

{% block title %}HeloMX | Delete Mailserver{% endblock %}
{% block to_head %}
    <style type="text/css">
        #message { margin: 0px; width: 720px; height: 30px; text-align: center; vertical-align: 50%; padding-top: 10px; font-weight: bold; position: relative; }
    </style>
{% endblock %}

{% block to_footer %}
    {% include "ssi/highlightjs.html" %}
{% endblock %}

{% block content %}
<div id="yui-main">
    <div class="yui-b">
        <div class="yui-gc">
            {% if message %}
                <div id="message">{{ message }}</div>
            {% endif %}
            <div class="title">Delete Mailserver</div>
            <div class="yui-u first">
                <p>Are you sure you want to disable this mailserver? You will need to contact support
                if you want it re-enabled.  After 90 days, we will automatically purge
                it from our systems.</p>
            </div>
            <div class="yui-u">
                <form action="/delete/mailserver/{{ mx.slug }}/" method="post" name="delete">
                    <p>Mailserver to delete: <b>{{ mx.name }}</b></p>
                    <br />
                    <p><input type="submit" name="submit_action" value="Disable Mailserver" /></p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="yui-b">
    <div id="left-menu">
        {% get_side_list user perms %}
    </div>
</div>


{% endblock %}

