{% extends "base-internal.html" %} {% load host_extras %}

{% block title %}HeloMX | MOTD History{% endblock %}
{% block to_head %}
    <style type="text/css">
        #message { margin: 0px; width: 720px; height: 30px; text-align: center; vertical-align: 50%; padding-top: 10px; font-weight: bold; position: relative; }
    </style>
{% endblock %}

{% block to_footer %}
    {% include "ssi/highlightjs.html" %}
{% endblock %}

{% block content %}

    <div id="yui-main">
        <div class="yui-b">
            <div class="yui-g">
                <div class="title">MOTD History</div>
                {% if message %}
                    <div id="message">{{ message }}</div>
                {% endif %}
            </div>
            <div class="yui-g">
                {% if object_list %}{% autoescape off %}
                    <div class="motd">
                    {% for motd in object_list %}
                        <p><b>{{ motd.title }}</b>: {{ motd.content }} ({{ motd.publish_date }})</p><br />
                    {% endfor %}
                    </div>
                {% endautoescape %}
                {% endif %}

            </div>
        </div>
    </div>

    <div class="yui-b">
        <div id="left-menu">
            {% get_side_list user perms %}
        </div>
    </div>


{% endblock %}

